**1905710 SHAMBHAVI**

## LAB - 1

1) Write a Python program(WAPP) to input any two integers, and provide a menu to the
user to select any of the options as add, subtract, multiply, divide and display the result
accordingly.

In [ ]:
operation = [ '+', '-', '*', '/']
def calculator(n1, op, n2):
    for operator in operation:
        if op == operator:
            if operator == '+':
                return n1 + n2
            if operator == '-':
                return n1 - n2
            if operator == '*':
                return n1 * n2
            if operator == '/':
                return n1 / n2
            else:
                return "Invalid operator"
num1 = int(input("Enter first no.: "))
for i in operation:
    print(i)
choosen_operator = input("Pick an operator: ")
num2 = int(input("Enter second no.: "))
print(f"{num1} {choosen_operator} {num2} = {calculator(num1, choosen_operator, num2)}")

Enter first no.: 23
+
-
*
/
Pick an operator: -
Enter second no.: 21
23 - 21 = 2

2) WAPP to check if a year is leap year or not.

In [ ]:

year = int(input("Which year do you want to check? "))

if year%4 == 0:
    if year%100 == 0:
        if year%400 == 0:
            print("Leap year.")
        else:
            print("Not leap year.")
    else:
         print("Leap year.")
else:
    print("Not leap year.")

Which year do you want to check? 2022
Not leap year.

3) WAPP to convert temperature from centigrade to Fahrenheit scale.

In [ ]:
centigrade = float(input("Enter temp in centigrade: "))
fahrenheit = centigrade * 1.8 + 32
print(f"{centigrade} C in Fahrenheit is {fahrenheit} F")

Enter temp in centigrade: 1
1.0 C in Fahrenheit is 33.8 F

4) WAPP to add two times in hour, minute & second format entered through the
keyboard.

In [ ]:
hour1 = int(input("Enter hours: "))
min1 = int(input("Enter minutes: "))
sec1 = int(input("Enter seconds: "))
hour2 = int(input("Enter hours: "))
min2 = int(input("Enter minutes: "))
sec2 = int(input("Enter seconds: "))
second = sec1 + sec2;
minute = min1 + min2 + (second/60);
hour = hour1 + hour2 + (minute/60);
minute = minute % 60;
second = second % 60;
print(f"{hour1} hrs : {min1} min : {sec1} sec + {hour2} hrs : {min2} min : {sec2} sec = {round(hour)} hrs : {round(minute)} min : {second} sec")

Enter hours: 5
Enter minutes: 90
Enter seconds: 60
Enter hours: 4
Enter minutes: 30
Enter seconds: 20
5 hrs : 90 min : 60 sec + 4 hrs : 30 min : 20 sec = 11 hrs : 1 min : 20 sec

5) WAPP to check if the given number is Armstrong or not.

In [ ]:
num = int(input("Enter a number: "))
order = len(str(num))

sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 135
135 is not an Armstrong number

6) WAPP to find out the factors of a number.

In [ ]:
num = int(input("Enter a number: "))
factors = []

for i in range(1, num + 1):
    if num % i == 0:
        factors.append(i)

print(f"The factors of {num} are:")
for i in factors:
  print(i, end = " ")

Enter a number: 22
The factors of 22 are:
1 2 11 22



7) WAPP to print all even numbers between 100 to 200 using a loop.

In [ ]:
for i in range(100, 201):
  if i%2 == 0:
    print(i, end = " ")

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200

8) WAPP to find LCM of 2 numbers using a while loop.

In [ ]:
num1 = int(input("Enter num1: "))
num2 = int(input("Enter num2: "))
lcm = 0

if num1 > num2:
    greater = num1
    if greater % num2 != 0:
      lcm = num1 * num2
else:
    greater = num2
    if greater % num1 != 0:
      lcm = num1 * num2
    

while(True):
    if lcm > 0:
      break
    if((greater % num1 == 0) and (greater % num1 == 0)):
        lcm = greater
        break
    greater += 1

print(f"The L.C.M. of {num1} and {num2} is {lcm}")

Enter num1: 4
Enter num2: 9
The L.C.M. of 4 and 9 is 36

9) WAPP to find out the distance between two coordinates (x1, y1) & (x2, y2).

In [ ]:
import math

x1 = int(input("Enter x1: "))
y1 = int(input("Enter y1: "))
x2 = int(input("Enter x2: "))
y2 = int(input("Enter y2: "))

distance = math.sqrt(((x2 - x1) ** 2) + ((y2 - y1) ** 2))

print(f" Distance between ({x1}, {y1}) and ({x2}, {y2}) = {round(distance)}")

Enter x1: 2
Enter y1: 3
Enter x2: 7
Enter y2: 8
 Distance between (2, 3) and (7, 8) = 7

10) WAPP to find the multiplication table of any number using a for loop.

In [ ]:
num = int(input("Enter a number: "))
for i in range(1, 11):
  print(f"{num} x {i} = {num*i}")

Enter a number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

11) WAPP to find Volume and Surface Area of Cylinder.

In [ ]:
radius = float(input("Enter radius: "))
height = float(input("Enter height: "))

volume = 3.14 * (radius ** 2) * height
surface_area = (2 * 3.14 * radius * height) + (2 * 3.14 * (radius ** 2))

print(f"Volume of cylinder = {round(volume, 2)}\nSurface area of cylinder = {round(surface_area, 2)} ")

Enter radius: 2
Enter height: 6
Volume of cylinder = 75.36
Surface area of cylinder = 100.48

12) WAPP to find the roots of a quadratic equation ax2+bx+c=0.

In [ ]:
import math 

a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))
 
if a == 0:
   print("Invalid")

d = b * b - 4 * a * c
sqrt_val = math.sqrt(abs(d))
 
if d > 0:
  print("Roots are real and different ")
  print((-b + sqrt_val)/(2 * a))
  print((-b - sqrt_val)/(2 * a))
elif d == 0:
  print("Roots are real and same")
  print(-b / (2*a))
else:  
  print("Roots are complex")
  print(- b / (2*a), " + i", round(sqrt_val, 2))
  print(- b / (2*a), " - i", round(sqrt_val, 2))

Enter a: 2
Enter b: 3
Enter c: 7
Roots are complex
-0.75  + i 6.86
-0.75  - i 6.86

13) WAPP to enter your marks and credit of course of any 5 courses of 2 semesters
through keyboard print the corresponding grade.
Calculate SGPA for each semester and overall CGPA.

In [9]:
marks1 = []
marks2 = []
credits1 =[]
credits2 = []
credit_point1 = 0
credit_point2 = 0

print("Enter marks and credits for semester 1: ")
for i in range(1, 6):
  m = int(input(f"\nMarks for Subject {i}: "))
  marks1.append(m)
  c = int(input(f"Credit for Subject {i}: "))
  credits1.append(c)

for i in range(5):
  credit_point1 += marks1[i] * credits1[i]
  
sgpa1 = round(credit_point1/(10*sum(credits1)), 2)

print(f"\nSGPA for Semester 1 = {sgpa1}")

print("\nEnter marks and credits for semester 2: ")
for i in range(1, 6):
  m = int(input(f"\nMarks for Subject {i}: "))
  marks2.append(m)
  c = int(input(f"Credit for Subject {i}: "))
  credits2.append(c)

for i in range(5):
  credit_point2 += marks2[i] * credits2[i]
  
sgpa2 = round(credit_point2/(10*sum(credits2)), 2)

print(f"\nSGPA for Semester 2 = {sgpa2}")

cgpa = round((credit_point1 + credit_point2)/(10*(sum(credits1) + sum(credits2))), 2)

print(f"\nCGPA = {cgpa}")

Enter marks and credits for semester 1:

Marks for Subject 1: 95
Credit for Subject 1: 3

Marks for Subject 2: 90
Credit for Subject 2: 3

Marks for Subject 3: 99
Credit for Subject 3: 4

Marks for Subject 4: 91
Credit for Subject 4: 3

Marks for Subject 5: 97
Credit for Subject 5: 4

SGPA for Semester 1 = 9.48

Enter marks and credits for semester 2:

Marks for Subject 1: 98
Credit for Subject 1: 3

Marks for Subject 2: 99
Credit for Subject 2: 2

Marks for Subject 3: 95
Credit for Subject 3: 4

Marks for Subject 4: 90
Credit for Subject 4: 3

Marks for Subject 5: 96
Credit for Subject 5: 3

SGPA for Semester 2 = 9.53

CGPA = 9.51

14) A student will not be allowed to sit an exam if his/her attendance is less than 70%.
Take following input from user:
● Number of classes held
● Number of classes attended
Print percentage of class attended and check if the student is allowed to sit in the
exam or not.

In [ ]:
no_class_held = int(input("Enter no. of classes: "))
no_class_attnd = int(input("Enter no. of classes attended: "))

percentage = round((no_class_attnd / no_class_held) * 100)

if percentage < 70:
  print("You are not allowed to sit for exam.")
else:
  print("You are allowed to sit for exam.")

Enter no. of classes: 5
Enter no. of classes attended: 2
You are not allowed to sit for exam.

15) High Radius Company decided to give a bonus of 10% to employees if his/her year of
service is more than 5 years.
● Enter salary and year of service from the keyboard and print the net bonus amount.
● Determine oldest and youngest among 3 employees by taking input(from user) of
their age.

In [10]:
salary = float(input("Enter salary: "))
year_service = int(input("Enter years of service: "))
age = []
bonus = salary * 0.1

if year_service > 5:
  print(f"\nBonus = {round(bonus, 2)}")
  print(f"Total salary = Rs {salary + round(bonus, 2)}")

for i in range(1, 4):
  a = int(input(f"\nEnter age of Employee {i}: "))
  age.append(a)

age.sort()
print("\nYoungest employee age = ", age[0])
print("Oldest employee age= ", age[2])

Enter salary: 346788
Enter years of service: 7

Bonus = 34678.8
Total salary = Rs 381466.8
Enter age of Employee 1: 45
Enter age of Employee 2: 78
Enter age of Employee 3: 23
Youngest =  23
Oldest =  78

16) WAPP to convert a quantity in meter entered through keyboard into its equivalent
kilometre and meter as per the following format.
Example. 2430 meter = 2 Km and 430 meter.

In [68]:
meter = int(input("Enter distance in meters: "))
km = round(meter/1000)
meter = meter % 1000
print(f"{km} kilometers {meter} meters")

Enter distance in meters: 2430
2 kilometers 430 meters

17) WAPP to print the sum of all prime numbers between 1 to n using a loop.

In [94]:
num = int(input("Enter a number: "))
temp = 0
sum = 0

for i in range(2, num+1):
  for j in range(2, i):
      if i % j == 0:
        temp = 1
        break
  if temp == 0:
    sum += i
  temp = 0

print("Sum = ", sum)

Enter a number: 10
Sum =  17

18) WAPP to display the reverse of a number entered through the keyboard.

In [76]:
num = input("Enter a number: ")
reverse = num[::-1]
print("Reverse = ", int(reverse))

Enter a number: 2346
Reverse =  6432

19) WAPP to convert a decimal number into its equivalent number with base b.
Decimal number and b are the user input.

In [77]:
num = int(input("Enter a number: "))
base = int(input("Enter base: "))

if base == 2:
    print("Binary : ", bin(num))
elif base == 8:
    print("Octal : ", oct(num))
elif base == 16:
    print("Hexadecimal : ", hex(num))
else:
  print("Invalid base.")

Enter a number: 2345
Enter base: 8
Binary :  0o4451

20) WAPP to sum the following series S=1+(1+2)+(1+2+3)+...+(1+2+3+...+n)

In [78]:
n = int(input("Enter n: "))
sum = 0
for i in range(1, n + 1):
  sum += i*(i+1)/2 

print("Sum = ", sum)

Enter n: 10
Sum =  220.0