**1905710 SHAMBHAVI**

LAB - 2

**STRINGS**

1) Write a Python Program to count the number of vowels in a string.

In [ ]:
s = input("Enter a string: ")
vowels = ['a', 'e', 'i', 'o', 'u']
count = 0

for i in s:
  if i in vowels:
    count +=1

print(f"No. of vowels in {s} = {count}")

Enter a string: Header
No. of vowels in Header = 3

2) Write a Python Program to replace all occurrences of ‘a’ with ‘@’ in a string.

In [ ]:
s = input("Enter a string: ")
x = s.replace('a', '@')
print(x)

Enter a string: banana
b@n@n@

3) Write a Python Program to calculate the length of a string without using a
library function.

In [ ]:
s = input("Enter a string: ")
count = 0

for i in s:
  count += 1

print(f'Length of string {s} = {count}')

Enter a string: Welcome
Length of string Welcome = 7

4) Write a Python Program to take in two strings and display the smallest string
without using the library function.

In [ ]:
s1 = input("Enter string 1: ")
s2 = input("Enter string 2: ")
count1 = 0
count2 = 0

for i in s1:
  count1 += 1

for i in s2:
  count2 += 1
if(count1 == count2):
  print(f"{s1} and {s2} are of same length")
else:
  print(f"Smallest string is { s1 if count2 > count1 else s2}")

Enter string 1: queen
Enter string 2: coconut
Smallest string is queen

5) Write a Python Program to count the number of lowercase and uppercase letters
in a string.

In [ ]:
s = input("Enter a string: ")
upper = 0
lower = 0

for i in s:
  if i.isupper():
    upper += 1
  else:
    lower += 1

print(f'No. of uppercase letters = {upper} \nNo. of lowercase letters = {lower}')

Enter a string: PinEaPPle
No. of uppercase letters = 4
No. of lowercase letters = 5

6) Write a Python Program to count the number of digits and characters in a string.

In [ ]:
s = input("Enter a string: ")
digits = 0
letters = 0

for i in s:
  if i.isnumeric():
    digits += 1
  else:
    letters += 1

print(f'No. of digits = {digits} \nNo. of characters = {letters}')

Enter a string: Overlord3for99
No. of digits = 3
No. of characters = 11

7) Write a Python program to get a string made of the first 3 and the last 3 chars
from a given string. If the string length is less than 3, return instead of the
empty string.

In [ ]:
def new_string(s):
  return s[:3] + s[-3:] if len(s) > 3 else s
 
s = input("Enter a string: ")

new_string(s)

Enter a string: atmosphere

'atmere'

8) Write a Python program to count the occurrences of each word in a given string
sentence.

In [ ]:
s = input("Enter a sentence: ")
count = dict()
words = s.lower().split(" ")

for word in words:
  if word in count:
    count[word] += 1
  else:
    count[word] = 1

for key in count:
    print(f"{key} : {count[key]}")

Enter a sentence: One two one two three four
one : 2
two : 2
three : 1
four : 1

9) Write a Python program to check if a string is Palindrome or not.

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
  print(f"{s} is Palindrome" )
else:
  print(f"{s} is not Palindrome" )

Enter a string: abbcbba
abbcbba is Palindrome

10) Write a Python program to reverse a string.

In [ ]:
s = input("Enter a string: ")

print(f"Reverse of {s} = {''.join(reversed(s))}")

Enter a string: Gangtok
Reverse of Gangtok = kotgnaG

**LIST**

1) Write a Python Program to find the print sum, average of all numbers,
smallest and largest element of a list.

In [ ]:
l = list(map(int, input("Enter numbers: ").split()))

print(f"Sum = {sum(l)}\nAverage = {sum(l)/len(l)}\nSmallest element = {min(l)}\nLargest element = {max(l)}")

Enter numbers: 1 2 3 4 5
Sum = 15
Average = 3.0
Smallest element = 1
Largest element = 5

2) Write a Python Program to find the 2
nd
largest and 3
rd
smallest number in a
list.

In [ ]:
l = list(map(int, input("Enter numbers: ").split()))
l.sort()

print(f'2nd largest = {l[-2]}\n3rd smallest = {l[2]}')

Enter numbers: 34 12 67 3 5 89 0
2nd largest = 67
3rd smallest = 5

3) Write a Python Program to generate random numbers from 1 to 50 and
append them to the list.

In [ ]:
import random

n = int(input("Enter no. of elements: "))
l = []

for i in range(n):
  e = random.randint(1, 50)
  l.append(e)

print(l)

Enter no. of elements: 6
[34, 14, 7, 27, 17, 31]

4) Write a Python Program to put even and odd elements in a list into two
different lists.

In [ ]:
l = list(map(int, input("Enter numbers: ").split()))

even = []
odd = []

for i in l:
  if i%2 == 0:
    even.append(i)
  else:
    odd.append(i)

print(f"Even no. list = {even}\nOdd no. list = {odd}")

Enter numbers: 23 12 45 67 89 34 0 6 24 56
Even no. list = [12, 34, 0, 6, 24, 56]
Odd no. list = [23, 45, 67, 89]

5) Write a Python Program to merge two lists and sort it.

In [ ]:
l1 = list(map(int, input("Enter numbers: ").split()))
l2 = list(map(int, input("Enter numbers: ").split()))

l = l1 + l2
l.sort()
print(f"List 1 = {l1}\tList 2 = {l2}\nMerged list & sorted list = {l}")

Enter numbers: 23 45 56
Enter numbers: 1 35 67
List 1 = [23, 45, 56]	List 2 = [1, 35, 67]
Merged list & sorted list = [1, 23, 35, 45, 56, 67]

6) Write a Python Program to remove the duplicate items from a list.

In [ ]:
l = list(map(int, input("Enter numbers: ").split()))

# print(list(set(l)))   Method - 1 (set doesn't allow duplicate)

rd = []
for i in l:
  if i not in rd:
    rd.append(i)

print(rd)

Enter numbers: 4 56 23 76 4 56
[4, 56, 23, 76]

7) Write a Python Program to take a list of words and print the length of the
longest word.

In [ ]:
l = list(map(str, input("Enter words: ").split()))
max = ''

for i in l:
  if len(i) > len(max):
    max = i

print(f"Longest word is '{max}' and its length is {len(max)}") #In case of 2 words of same length, it takes the first one

Enter words: We are humans
Longest word is 'humans' and its length is 6

8) Write a Python program to count the number of strings where the string length
is 3 or more and the first and last character are same from a given list of
strings. </br>
Input : ['ab', 'aba', 'abaa', 'baba'] </br>
Output : 2

In [ ]:
l = list(map(str, input("Enter words: ").split()))
count = 0

for i in l:
  if len(i) >= 3:
    for j in l:
      if i == j:
        count += 0
      elif i[0] == j[0] and i[-1] == j[-1] :
        count += 1

print(count)

Enter words: ab aba abaa baba
2

9) Write a Python program to check a list is empty or not.

In [ ]:
l = list(map(str, input("Enter words: ").split()))

if len(l) == 0:
  print("List is empty")
else:
  print("List is not empty")

Enter words:
List is empty

10) Write a Python program to take both strings and numbers in a list </br>
a) Create separate lists of strings and numbers </br>
b) Sort the strings list in ascending order </br>
c) Sort the strings list in descending order </br>
d) Sort the number list from lowest to highest </br>
e) Sort the number list from highest to lowest

In [225]:
l = list(map(str, input("Enter elements: ").split()))
string = []
num = []

for i in l:
  if i.isdigit():
    num.append(i)
  else:
    string.append(i)

print(f"String list = {string}\nNumber list = {num}")

string.sort()
print(string)
print(string[::-1])
num.sort()
print(num)
print(num[::-1])

Enter elements: a 7 ab 89 bcd 88 9999 eeee
String list = ['a', 'ab', 'bcd', 'eeee']
Number list = ['7', '89', '88', '9999']
['a', 'ab', 'bcd', 'eeee']
['eeee', 'bcd', 'ab', 'a']
['7', '88', '89', '9999']
['9999', '89', '88', '7']

11) Write a program to add two lists index-wise. Create a new list that
contains the 0th index item from both the list, then the 1st index item, and so
on till the last element. any leftover items will get added at the end of the
new list.

In [ ]:
l1 = list(map(int, input("Enter elements: ").split()))
l2 = list(map(int, input("Enter elements: ").split()))
l = []

if len(l1) == len(l2):
  for i in range(len(l1)):
    l.extend([l1[i], l2[i]])
elif len(l1) < len(l2):
  d = len(l2) - len(l1)
  for i in range(len(l1)):
    l.extend([l1[i], l2[i]])
  l + l2[-d:]
else:
  d = len(l1) - len(l2)
  for i in range(len(l2)):
    l.extend([l1[i], l2[i]])
  l = l + l1[-d:]

print(l)

Enter elements: 1 3 5 7 9
Enter elements: 2 4 6 8
[1, 2, 3, 4, 5, 6, 7, 8, 9]

12) Given a Python list, write a program to remove all occurrences of item 20. </br>
list1 = [5, 20, 15, 20, 25, 50, 20]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

for i in list1:
  if i == 20:
    list1.remove(i)

print(list1)

[5, 15, 25, 50]

**TUPLE**

1) Write a Python program to convert a tuple to a string.

In [ ]:
l = list(map(str, input("Enter words: ").split()))
t = tuple(l)
s = ''.join(t)
print(s)

Enter words: we wre the
wewrethe

2) Write a Python program to find the repeated items of a tuple

In [ ]:
l = list(map(str, input("Enter words: ").split()))
t = tuple(l)
print(t)

for i in t:
  if t.count(i) > 1:
    print(i)

Enter words: we r t we k t
('we', 'r', 't', 'we', 'k', 't')
we
t
we
t

3) Write a Python program to convert a list to a tuple.

In [ ]:
l = l = list(map(str, input("Enter words: ").split()))
t = tuple(l)

print(t)

Enter words: life is precious
('life', 'is', 'precious')

4) Write a Python program to reverse a tuple.

In [ ]:
l = l = list(map(str, input("Enter words: ").split()))
t = tuple(l)
reverse = t[::-1]

print(f"Tuple: {t}\nReverse tuple: {reverse}")

Enter words: here we go
Tuple: ('here', 'we', 'go')
Reverse tuple: ('go', 'we', 'here')

5) Write a Python program to remove an empty tuple(s) from a list of tuples

In [ ]:
n = int(input("Enter a no.: "))
l = []

for i in range(n):
  l.append([])
  e = int(input('Enter no. of elements: '))
  for j in range(e):
    num = int(input())
    l[i].append(num)

tup = list(map(tuple, l))
print(tup)
tup = [t for t in tup if t]
print(tup)

Enter a no.: 4
Enter no. of elements: 3
2
4
6
Enter no. of elements: 0
Enter no. of elements: 2
1
3
Enter no. of elements: 0
[(2, 4, 6), (), (1, 3), ()]
[(2, 4, 6), (1, 3)]

6) Write a Python program to replace middle value of tuples in a list.

In [ ]:
n = int(input("Enter no. of list: "))
l = []

for i in range(n):
  l.append([])
  e = int(input('Enter no. of elements: '))
  for j in range(e):
    num = input()
    l[i].append(num)

t = list(map(tuple, l))
for i in range(n):
  length = len(l[i])
  mid = length//2
  if length%2 == 0:
    l[i][mid-1] = '@'
    l[i][mid] = '@'  
  else:
    l[i][mid] = '@'

print(l)

Enter no. of list: 3
Enter no. of elements: 3
1
2
3
Enter no. of elements: 4
2
4
6
8
Enter no. of elements: 5
9
7
5
3
1
[['1', '@', '3'], ['2', '@', '@', '8'], ['9', '7', '@', '3', '1']]

7) Write a Python program to get 5th element from last of a
tuple.

In [ ]:
l = l = list(map(int, input("Enter elements: ").split()))
t = tuple(l)

print(t[-5])

Enter elements: 1 2 3 4 5 6 7 8
4

8) Write a Python program to check if two given sets have no elements in common.

In [ ]:
s1 = input()
s2 = input()

set1 = set(s1)
set2 = set(s2)

print(set1.isdisjoint(set2))

2 3 4 5
3 4 5 6
False

9) Write a Python program to check whether an element exists within a tuple.

In [ ]:
l = l = list(map(int, input("Enter elements: ").split()))
t = tuple(l)

e = int(input("Enter a element to check: "))
print(e in t)

Enter elements: 23 45 67 8
Enter a element to check: 45
True

10) Write a Python program to check if a given value is present in a set or not.

In [ ]:
s = list(map(int, input("Enter elements: ").split()))
set1 = set(s)

e = input("Enter a element to check: ")
print(e in set1)

Enter elements: 1 2 3 4 5 6
Enter a element to check: 7
False

11) Write a Python program to check if a given set is superset of itself and superset
of
another given set.

In [ ]:
s = list(map(int, input("Enter elements: ").split()))
set1 = set(s)

print(set1.issuperset(set1))

s1 = list(map(int, input("Enter elements: ").split()))
set2 = set(s1)

print(set1 > set2)

Enter elements: 1 2 3 4 5 6
True
Enter elements: 2 3 4
True

12) Write a Python program to create a union, intersection, difference, symmetric
difference of sets.

In [ ]:
s = list(map(int, input("Enter elements: ").split()))
set1 = set(s)

s1 = list(map(int, input("Enter elements: ").split()))
set2 = set(s1)

print(set1 | set2)
print(set1 & set2)
print(set1 - set2)
print(set1 ^ set2)

Enter elements: 2 4 6 8
Enter elements: 1 2 3
{1, 2, 3, 4, 6, 8}
{2}
{8, 4, 6}
{1, 3, 4, 6, 8}

13) Write a Python program to remove the intersection of a 2nd set from the 1st set.

In [ ]:
s =  list(map(int, input("Enter elements: ").split()))
set1 = set(s)

s1 = list(map(int, input("Enter elements: ").split()))
set2 = set(s1)

print(set1.difference_update(set2))
print(set1)
print(set2)

Enter elements: 1 2 3 4 5
Enter elements: 3 4 5 6
None
{1, 2}
{3, 4, 5, 6}

**DICTIONARY**

1) Write a Python program to multiply all the items in a dictionary.

In [ ]:
num = int(input("Enter number of elements in the dict: "))
d = dict()
for i in range(num):
  key = input("Enter key : ")
  value = int(input("Enter values :"))
  d.update({key: value})

n = 1

for i in d:
  n *= d[i]

print(n)

Enter number of elements in the dict: 5
Enter key : a
Enter values :2
Enter key : b
Enter values :6
Enter key : c
Enter values :10
Enter key : d
Enter values :1
Enter key : e
Enter values :2
240

2) Write a Python program to remove duplicates from Dictionary.

In [ ]:
num = int(input("Enter number of elements in the dict: "))
d = dict()
for i in range(num):
  key = input("Enter key : ")
  value = int(input("Enter values :"))
  d.update({key: value})

print(d)
l = []
new_d = dict()
for k, v in d.items():
  if v not in l:
    l.append(v)
    new_d[k] = v

print(new_d)

Enter number of elements in the dict: 5
Enter key : a
Enter values :2
Enter key : b
Enter values :1
Enter key : c
Enter values :2
Enter key : d
Enter values :3
Enter key : e
Enter values :6
{'a': 2, 'b': 1, 'c': 2, 'd': 3, 'e': 6}
{'a': 2, 'b': 1, 'd': 3, 'e': 6}

3) Write a Python program to combine two dictionary adding values for common
keys. </br>
dict1 = {'k1': 10, 'k2': 20, 'k3':30} </br>
dict2 = {'k1': 30, 'k2': 20, 'k4':40} </br>
Sample output: Counter({'k1': 40, 'k2': 40, 'k4': 40, 'k3': 30})

In [ ]:
from collections import Counter

num = int(input("Enter number of elements in the dict: "))
d1 = dict()
d2 = dict()

for i in range(num):
  key1 = input("Enter key : ")
  value1 = int(input("Enter values :"))
  d1.update({key1: value1})
  key2 = input("Enter key : ")
  value2 = int(input("Enter values :"))
  d2.update({key2: value2})

d = Counter(d1) + Counter(d2)
print(d)

Enter number of elements in the dict: 3
Enter key : k1
Enter values :10
Enter key : k2
Enter values :20
Enter key : k3
Enter values :30
Enter key : k1
Enter values :30
Enter key : k2
Enter values :30
Enter key : k4
Enter values :50
Counter({'k2': 50, 'k4': 50, 'k1': 40, 'k3': 30})

4) Write a Python program to find the highest 3 values of corresponding keys in
a dictionary.

In [ ]:
num = int(input("Enter number of elements in the dict: "))
d = dict()
for i in range(num):
  key = input("Enter key : ")
  value = int(input("Enter values :"))
  d.update({key: value})

d2 = dict(sorted(d.items(),key= lambda x:x[1]))

for i in list(d2)[-3:]:
  print(i, d2[i])

Enter number of elements in the dict: 7
Enter key : a
Enter values :7
Enter key : b
Enter values :1
Enter key : c
Enter values :0
Enter key : d
Enter values :3
Enter key : e
Enter values :9
Enter key : f
Enter values :23
Enter key : g
Enter values :4
a 7
e 9
f 23

5) Write a Python program to create a dictionary from a string. </br>
Note: Track the count of the letters from the string. </br>
Sample string : 'amazon' </br>
Expected output: {'a': 2, 'm': 1, 'z': t, 'o': 1, 'n': 1}

In [ ]:
s = input()
d = dict()
count = 0

for i in s:
  if i not in d:
    count = 1
  else:
    count += 1
  d.update({i:count})

print(d)

amazon
{'a': 2, 'm': 1, 'z': 1, 'o': 1, 'n': 1}

6) Write a Python program to print a dictionary line by line.

In [ ]:
num = int(input("Enter number of elements in the dict: "))
d = dict()
for i in range(num):
  key = input("Enter key : ")
  value = input("Enter values :")
  d.update({key: value})

for i in d:
  print(i, d[i])

Enter number of elements in the dict: 3
Enter key : 1
Enter values :Alex
Enter key : 2
Enter values :Bob
Enter key : 3
Enter values :Carla
1 Alex
2 Bob
3 Carla

7) Write a Python program to replace dictionary values with their average

In [ ]:
num = int(input("Enter number of elements in the dict: "))
d = dict()
for i in range(num):
  key = input("Enter key : ")
  value = int(input("Enter values :"))
  d.update({key: value})

sum = 0
for i in d:
  sum += d[i]

for i in d:
  d[i] = round(sum/num, 2)

print(d)

Enter number of elements in the dict: 3
Enter key : Alex
Enter values :90
Enter key : Bob
Enter values :80
Enter key : Carla
Enter values :60
{'Alex': 76.67, 'Bob ': 76.67, 'Carla': 76.67}

8) Write a Python program to drop empty Items from a given Dictionary. </br>
Original Dictionary: </br>
{'c1': 'CS, 'c2': 'IT', 'c3': None} </br>
New Dictionary after dropping empty items: </br>
{'c1': 'CS', 'c2': 'IT'}

In [ ]:
num = int(input("Enter number of elements in the dict: "))
d = dict()
for i in range(num):
  key = input("Enter key : ")
  value = input("Enter values :")
  d.update({key: value})

d = {key:value for (key, value) in d.items() if value is not ''}
print(d)

Enter number of elements in the dict: 3
Enter key : c1
Enter values :CS
Enter key : c2
Enter values :IT
Enter key : c3
Enter values :
{'c1': 'CS', 'c2': 'IT'}

9) Write a Python program to filter the height and weight of students, which are
stored in a dictionary. </br>
Original Dictionary: </br>
{'Ram': (6.2, 70), 'Sita': (5.9, 65), 'Hari': (6.0, 68), 'Gopal': (5.8, 66)} </br>
Height > 6ft and Weight> 65kg: </br>
{'Ram': (6.2, 70)}

In [ ]:
d = {'Ram': (6.2, 70), 'Sita': (5.9, 65), 'Hari': (6.0, 68), 'Gopal': (5.8, 66)}
d1 = dict()

for i in d:
  if d[i][0] > 6 and d[i][1] > 65:
    d1.update({i: d[i]})

print(d1)

{'Ram': (6.2, 70)}